* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #9400d3;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    color: #9ECE9E;
    background-color: transparent;
    box-shadow: inset 3px -3px #9ECE9E;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    color: #00FFFF;
    /* background-color: #9ECE9E; */
    /*border-bottom: 3px solid #00FFFF;*/
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#backlight {
    color: #9400d3;
}
#window,
#workspaces {
    border-radius: 15px;
    margin: 4px 0px;
    padding: 0px 15px;}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #ADFF2F;
    margin: 8px 8px 8px -8px;
    /* padding: 0 8px; */
    border-radius: 8px;
    /* background-color: #7CB8BB; */
    font-weight: 900;
}

#battery {
/*     margin: 8px 8px 8px; */
/*     padding: 0 8px; */
/*     border-radius: 8px; */
/*     background-color: #928374; */
    color: #afeeee;
}

/* #battery.charging, #battery.plugged { */
/*     border-radius: 8px; */
/*     color: #8ec07c; */
/*     background-color: #26A65B; */
/* } */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    /* border-radius: 8px; */
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}


#pulseaudio {
    /* margin: 8px 0px 8px 8px; */
    /* padding: 0 8px; */
    /* background-color: #90b1b1; */
    /* border-radius: 8px; */
    color: #90ee90;
}

#pulseaudio.muted {
    /* background-color: #90b1b1; */
    border-radius: 4px;
    color: #cd5c5c;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
    border-radius: 4px;
}

#wireplumber.muted {
    background-color: #f53c3c;
    border-radius: 4px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #d79921;
    border-radius: 4px;
}

#temperature.critical {
    background-color: #eb4d4b;
    border-radius: 4px;
}

#tray {
    margin: 8px 8px 8px;
    padding: 0 8px;
    /* background-color: #8ec07c; */
    border-radius: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
    border-radius: 4px;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
    border-radius: 4px;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    /* background: #00b093; */
    color: #00FFFF;
    /* margin: 8px 5px 8px; */
    /* padding: 0 25px; */
    /* min-width: 22px; */
    /* border-radius: 8px; */
}

#keyboard-state {
    /* background: #97e1ad; */
    /* color: #000000; */
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
    border-radius: 4px;
}

#keyboard-state > label {
    padding: 0 5px;
    border-radius: 4px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
    border-radius: 4px;
}
